@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

.약 {
    clear: both;
}

/* 왼쪽 오른쪽 다 커버 */

/* 자식은 부모의 넓이에 따라가고,
부모는 자식의 높이에 따라간다. */
.전체 {
    background-color: pink;
    padding: 20px;
    width: 600px;
    margin: auto;
    /* 영역을 가운데 정렬 */
}

.전체 .첫째자식 {
    background-color: beige;
    height: 500px;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20211212/pngtree-purple-blue-pastel-colorful-cute-fantasy-galaxy-universe-background-image_919272.png);
    transition: 0.3s;
    background-repeat: no-repeat;
    /* 배경이미지를 반복하지말것(한장만) */
    background-size: cover;
}

.전체 .첫째자식:hover {
    background-image: url(https://cdn.pixabay.com/photo/2020/09/09/02/12/smearing-5556288_960_720.jpg);
}

.전체 .둘째자식 {
    background-color: rgb(255, 252, 229);
    margin-top: 20px;
}

.전체 .둘째자식 .첫째손자 {
    background-color: rgb(240, 224, 255);
    height: 200px;
    width: 31.3333%;
    float: left;
    /* 왼쪽으로 정렬 */
    margin: 0 1%;
    /* margin: 1%; 상하좌우
           margin: 1% 2%; 상하 좌우
           margin: 1% 2% 3% 상 좌우 하
           margin: 1% 2% 3% 4% 상 우 하 좌

           # 마진을 적용시 오른쪽에 2% 적용
           =margin: 0% 2% 0% 0%
           =margin-right: 2% */
}

.전체 .둘째자식 .둘째손자 {
    background-color: rgb(189, 253, 253);
    height: 200px;
    width: 31.3333%;
    float: left;
    margin: 0 1%;
}

.전체 .둘째자식 .셋째손자 {
    background-color: rgb(213, 255, 241);
    height: 200px;
    width: 31.3333%;
    float: left;
    margin: 0 1%;
}
.전체 .셋째자식 {
    background-color: #fff5e4;
    margin-top: 20px;
}
.전체 .셋째자식:after{content:""; display: block;
    clear: both;}

.전체 .셋째자식 .one {
    background-color: #ffe3e1;
    width: 24.25%; float: left;
    height: 200px;
    margin-right: 1%
}
.전체 .셋째자식 .two {
    background-color: #ffd1d1;
    width: 24.25%; float: left;
    height: 200px;
    margin-right: 1%
}
.전체 .셋째자식 .two span{color:rgb(87, 99, 126);}
/* 인라인요소(inline) */

.전체 .셋째자식 .three {
    background-color: #f4bcbc;
    width: 24.25%; float: left;
    height: 200px;
    margin-right: 1%
}
.전체 .셋째자식 .four {
    background-color: #fd9898;
    width: 24.25%; float: left;
    height: 200px;
}